{% extends 'base.html.twig' %}

{% block title %}Nos Formations{% endblock %}

{% block body %}
<ul>
    <li>Developpeur web et web mobile</li>
    <li>Agent de sécurité</li>
    <li>Savoir Anglais</li>
    <li>Comment continuer à toucher des indemnités Pôle Emploi</li>
</ul>
{% endblock %}

