{% extends 'base.html.twig' %}

{% block title %}Nos Formations
{% endblock %}

{% block body %}
	<section>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eos laboriosam praesentium nobis sapiente ex, cumque eligendi. Rerum mollitia, fuga saepe nesciunt laborum praesentium officia dolore velit autem, delectus facere?</p>
        <p>Page : {{page}}</p>
	</section>
{% endblock %}